{{>_navlabcon}}

<h2>Horários de Aula</h2>
<hr>
<a href="/admin/aulaslabcon/add"><button class="btn btn-dark"><i class="icon-plus"></i> Nova Aula</button></a>

<div class="row">

{{#each aulaslabcon}}
<div class="col-sm-3">

<div class="card mt-4">
    <div class="card-body">
        <small>Horário: {{horario.descricao}}</small><br>
        <small>Dia: {{format_dia_semana dia_semana}}</small><br>
        <a href="/admin/aulaslabcon/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
        <a href="/admin/aulaslabcon/deletar/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
    </div>
</div>
</div>
{{else}}
<h4>Nenhuma aula cadastrada</h4>
{{/each}}

</div>

<a href="/admin/aulaslabcon/add"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch Modal </button></a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
<div class="card" id="cadAula">
    <div class="card-body">
        <h4>Nova Aula</h4>
        <form action="/admin/aulaslabcon/novo" method="POST">
            <label for="dia_semana">Dia da semana: </label>
            <input type="text" name="dia_semana" class="form-control" required>
            <label for="horario">Horário: </label>
            <select name="horario" class="custom-select">
                {{#each horarios}}
                <option value="{{_id}}">{{descricao}}</option>
                {{else}}
                <option value="0">Nenhuma Horario Registrado</option>
                {{/each}}
            </select>
            <label for="comentario">Comentario: </label>
            <input type="text" name="comentario" class="form-control">

            <button class="btn btn-success mt-4" type="submit">Criar Aula</button>
            <div class="dados">
              {{#each horarios}}
                  <p value="{{_id}}">{{descricao}}</option>
            {{else}}
                  <p value="0">Nenhuma Horario Registrado</option>
            {{/each}}
            </div>
            
        </form>
    </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="sl"> {{#each horarios}}
                  <p value="{{_id}}">{{descricao}}</option>
                  {{else}}
                  <p value="0">Nenhuma Horario Registrado</option>
                  {{/each}}</div>
<div id="sltemplate" class="handlebars">
  <div class="modal fade" id="modal-mensagem">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                  <h4 class="modal-title">Título da mensagem</h4>
              </div>
              <div class="modal-body">
                  {{#each horarios}}
                  <p value="{{_id}}">{{descricao}}</option>
                  {{else}}
                  <p value="0">Nenhuma Horario Registrado</option>
                  {{/each}}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
              </div>
          </div>
      </div>
  </div>
 </div>

<!-- Button trigger modal -->
<button class="btn btn-primary" id="btn-mensagem">Exibir modal via JavaScript</button>

<script>
$('#btn-mensagem').click(function(){

    var modal = $('#exampleModal');
    
    $.getJSON('/admin/aulaslabcon/add', function(horarios) {
      console.log("entrou no JSON");
      //var mysource = $('#sltemplate').html();
      //var mytemplate = Handlebars.compile(mysource);
      //var myresult = mytemplate(horarios);
      //console.log(myresult).
      //$('#sl').html(myresult);
      
      //modal.find('form').attr('action','/admin/aulaslabcon/add');
      //modal.html(horarios)
      //modal.html(horarios);
      //modal.find('[name=comentario]').val(horarios[0].descricao);
      modal.find('[name=horario]').val(horarios);
      $("#dados").html(horarios);
      
    });
    modal.modal('show');
    

    /*
    $.ajax({
      type: 'POST',
      url: '/user',
      dataType: 'jsonp',
      data: data,
      sucess: function(data,textStatus){
        if(textStatus.statusCode = 200){
          console.log("Sucesso");
        } else {
          console.log("Falha");
        }
      }
    });
    */

  });
</script>