{{>_navlabcon}}

<h2>Horários de Aula</h2>
<hr>
<a href="/admin/aulaslabcon/add"><button class="btn btn-dark"><i class="icon-plus"></i> Nova Aula</button></a>

<div class="row">

{{#each aulaslabcon}}
<div class="col-sm-3">

<div class="card mt-4">
    <div class="card-body">
        <small>Horário: {{horario.descricao}}</small><br>
        <small>Dia: {{format_dia_semana dia_semana}}</small><br>
        <a href="/admin/aulaslabcon/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
        <a href="/admin/aulaslabcon/deletar/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
    </div>
</div>
</div>
{{else}}
<h4>Nenhuma aula cadastrada</h4>
{{/each}}

</div>