<div class="card">
    <div class="card-body">
        <h4>Editar Aluno</h4>
        <form action="/admin/alunoslabcon/edit" method="POST" class="needs-validation" novalidate>
            <input type="hidden" name="id" value="{{aluno._id}}">
            <select name="usuario" class="custom-select" required>
                {{#each usuarios}}
                <option value="{{_id}}">{{nome}} - {{email}}</option>
                {{else}}
                <option value="0">Nenhum Usuário Registrado</option>
                {{/each}}
            </select>
             <label for="grupo">Grupo: </label>
             <select name="grupo" class="custom-select" required>
                {{#each grupos}}
                <option value="{{_id}}">{{descricao}} - {{turma.descricao}} {{turma.subturma}} - {{bancada.descricao}}</option>
                {{else}}
                <option value="0">Nenhuma Turma Registrada</option>
                {{/each}}
            </select>
            <button class="btn btn-dark mt-4" type="submit">Editar Grupo</button>
        </form>
    </div>
</div>