<div class="card">
    <div class="card-body">
        <h4>Nova Reserva da Impressora</h4>
        <form action="/imp3d/reservasimp3d/novo" method="POST" class="needs-validation" novalidate>
             <label for="usuario3d">Usuario: </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-user"></i></span> 
                </div>
                <select name="usuario3d" class="custom-select" required>
                {{#each usuariosimp3d}}
                <option value="{{_id}}" {{selected usuario._id ../user._id}}>{{usuario.nome}} - {{usuario.email}}</option>
                {{else}}
                <option value="0">Nenhum Usu치rio Registrado</option>
                {{/each}}
                </select>
            <div class="invalid-feedback">Escolher o usu치rio.</div>
            </div>
           
            <label for="data">Data: </label>
            <!--<input type="date" id="data" name="data" {{setDatasMinMax}} class="form-control" placeholder="dd/mm/aaaa" required>-->

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-calendar"></i></span> 
                </div>
                <input type="text" id="datapicker" class="form-control" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <input type="hidden" name="data" id="data" />
                <div class="invalid-feedback">Escolher a data.</div>
            </div>

             <label for="comentario">Coment치rio: </label>
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-comment"></i></span> 
                </div>
                <input type="text" id="comentario" name="comentario" placeholder="Coment치rio" class="form-control">            
            </div>
             

            <button class="btn btn-dark mt-4" type="submit">Cadastrar Reserva</button>
            <button class="btn btn-secondary mt-4" type="reset">Cancelar</button>
        </form>
    </div>
</div>
 
