<h2>Reservas Impressora 3D</h2>
<hr>
{{#if user}}
<a href="/imp3d/reservasimp3d/add"><button class="btn btn-dark"><i class="icon-plus"></i> Reservar</button></a>
<br><br>
{{else}}

{{/if}}

<div class="card-header">
    <div class="row">
        <div class="col-sm-4">
            <b>Usuário</b>
        </div>
        <div class="col-sm-4">
            <b>Data</b>
        </div>
        <div class="col-sm-4">
            {{#if user}}
                <b>Gerenciar</b>
            {{else}}

            {{/if}}
        </div>
    </div>
</div>


{{#each reservasimp3d}}

<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <p>{{usuario3d.usuario.nome}}</p>
                <small>{{usuario3d.usuario.email}}</small><br>
            </div>
            <div class="col-sm-4">
                <p>{{format_data data}}</p>
            </div>
            <div class="col-sm-4">
                {{#ifCond usuario3d.usuario 'equals' ../user._id}}
                 <a href="/imp3d/reservasimp3d/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
                 <button class="btn btn-outline-dark mt-2 deleter" data-id="{{_id}}" data-toggle="modal" data-target="#myModal"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
                {{else}}
                
                {{/ifCond}}
                
                {{#if ../user.admin}}
                     <a href="/imp3d/reservasimp3d/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
                 <button class="btn btn-outline-dark mt-2 deleter" data-id="{{_id}}" data-toggle="modal" data-target="#myModal"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
                {{else}}

                {{/if}}
            </div>

        </div>
        
    </div>
</div>

{{else}}
<br>
<h4>Nenhuma reserva feita</h4>

{{/each}}

<!-- start: Delete Coupon Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
            </div>
            <div class="modal-body">
        <form action="" method="GET" id="deleteForm">
            <h5 class="text-center">Você tem certeza que deseja deletar a reserva?</h5>
           </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>

            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $(document).on('click', '.deleter', function(e) {
        e.preventDefault();
        const id = $(this).data('id');
        $('#deleteForm').attr('action', '/imp3d/reservasimp3d/deletar/'+ id);
    })
</script>