<h2>Usuários Impressora 3D</h2>
<hr>
<a href="/imp3d/usuariosimp3d/add"><button class="btn btn-dark"><i class="icon-plus"></i> Novo Usuário</button></a>

 <div class="row">
        {{#each usuariosimp3d}}
        <div class="col-sm-3">

        <div class="card mt-4">
            <div class="card-body">
                <p>Nome: {{usuario.nome}}</p><br>
                <small>Email: {{usuario.email}}</small><br>
                <small>Comentário: {{comentario}}</small><br>
                <a href="/imp3d/usuariosimp3d/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
                <a href="/imp3d/usuariosimp3d/deletar/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
                {{#if ativo}}
                {{else}}
                 <small>Não ativo</small><br>
                 <a href="/imp3d/usuariosimp3d/ativar/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-check-sign"></i>Ativar</button></a>
                {{/if}}
            </div>
        </div>
        </div>
        {{else}}
        <h4>Nenhuma usuário como usuário impressora 3D</h4>

        {{/each}}

        


    </div>

