<div class="card">
    <div class="card-body">
        <h4>Editar Reserva</h4>
        <form action="/usuario/reservaslabcon/edit" method="POST" class="needs-validation" novalidate>
            <input type="hidden" name="id" value="{{reservalabcon._id}}">
            <label for="grupo">Grupo: </label>
            <select name="grupo" class="custom-select" required>
                {{#each grupos}}
                <option value="{{_id}}" {{selected _id ../reservalabcon.grupo}}>{{descricao}} 
                    - {{turma.descricao}} {{turma.subturma}}</option>
                {{else}}
                <option value="0">Nenhum Grupo Registrado</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">Escolher o grupo.</div>
            <label for="horario">Horário: </label>
            <select name="horario" class="custom-select" required>
                {{#each horarios}}
                <option value="{{_id}}" {{selected _id ../reservalabcon.horario}}>{{descricao}}</option>
                {{else}}
                <option value="0">Nenhum Horário Registrada</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">Escolher o horário.</div>
            <label for="data">Data: </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-calendar"></i></span> 
                </div>
                <input type="text" id="datapicker" class="form-control" required>
                <input type="hidden" name="data" id="data" />
                <div class="invalid-feedback">Escolher a data.</div>
            </div>
            
            <br>
            <button class="btn btn-dark mt-4" type="submit">Editar Reserva</button>
            <button class="btn btn-secondary mt-4" type="reset">Cancelar</button>
        </form>
    </div>
</div>