{{>_navlabcon}}
<div class="row">
    <div class="col-sm-6">
        <h2>Reservas Laboratório de Controle</h2>
    </div>
    <!--
    <div class="col-sm-6">
        {{#if user.admin}}
            <a class="float-right" href="/admin/alunoslabcon/"><button class="btn btn-primary"><i class="icon-group"></i> Usuários LabCon</button></a>
        {{else}}

        {{/if}}
    </div>
    -->
</div>
<hr>
{{#if user}}
<a href="/usuario/reservaslabcon/add"><button class="btn btn-dark"><i class="icon-plus"></i> Reservar</button></a>
<br><br>
{{else}}

{{/if}}
<div class="card-header bg-dark text-white text-center">
        <div class="row">
            <div class="col-sm-3">
                <b>Grupo</b>
            </div>
            <div class="col-sm-3">
                <b>Data</b>
            </div>
            <div class="col-sm-3">
                <b>Horário</b>
            </div>
            <div class="col-sm-3">
                {{#if user}}
                    <b>Gerenciar</b>
                {{else}}

                {{/if}}
            </div>
        </div>
</div>

{{#each reservas}}

<div class="card mt-4 text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                {{grupo.descricao}}&nbsp;
                <small>{{grupo.turma.descricao}} - {{grupo.turma.subturma}}</small><br>
            </div>
            <div class="col-sm-3">
                <p>{{format_data data}}</p>
            </div>
            <div class="col-sm-3">
                <p>{{horario.descricao}}</p>
            </div>
            <div class="col-sm-3">
                {{#ifCond grupo._id 'equals' ../aluno.grupo}}
                 <a href="/usuario/reservaslabcon/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
                 <!-- <a href="/usuario/reservaslabcon/deletar/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a> -->
                 <button class="btn btn-outline-dark mt-2 deleter" data-id="{{_id}}" data-toggle="modal" data-target="#myModal"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
                {{else}}
                
                {{/ifCond}}
                {{#if ../user.admin}}
                     <a href="/usuario/reservaslabcon/edit/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-pencil"></i>Editar</button></a>
                 <!--<a href="/usuario/reservaslabcon/deletar/{{_id}}"><button class="btn btn-outline-dark mt-2"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a> -->
                 <button class="btn btn-outline-dark mt-2 deleter" data-id="{{_id}}" data-toggle="modal" data-target="#myModal"><i class="icon-fixed-width icon-ban-circle"></i>Deletar</button></a>
                {{else}}

                {{/if}}
            </div>

        </div>
        
    </div>
</div>

{{else}}
<h4>Nenhuma reserva criada!</h4>

{{/each}}


<!-- start: Delete Coupon Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
            </div>
            <div class="modal-body">
        <form action="" method="GET" id="deleteForm">
            <h5 class="text-center">Você tem certeza que deseja deletar a reserva?</h5>
           </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>

            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $(document).on('click', '.deleter', function(e) {
        e.preventDefault();
        const id = $(this).data('id');
        $('#deleteForm').attr('action', '/usuario/reservaslabcon/deletar/'+ id);
    })
</script>